<div class="row">
    <ul class="side-nav">
        <li>
            <div class="userView center-align">
                <div class="background"></div>
                <div class="userViewBox">
                  <a ui-sref="user"><img class="userLogo" ng-src="{{$ctrl.user.avatar}}"></a>
                </div>
                <p class="name">{{$ctrl.user.firstName}} {{$ctrl.user.lastName}}</p>
            </div>
        </li>
        <li>
            <a ui-sref="student.home">
                <i class="material-icons">pageview</i>Main page</a>
        </li>
        <li>
            <a ui-sref="student.lectures">
                <i class="material-icons">today</i>Lectures</a>
        </li>
        <li>
            <a ui-sref="student.teachers">
                <i class="material-icons">toc</i>List teachers</a>
        </li>
        <li>
            <a ui-sref="student.students">
                <i class="material-icons">toc</i>List students</a>
        </li>
        <li ng-if="$ctrl.user.groupProjectId != ''">
            <a ui-sref="student.project">
                <i class="material-icons">work</i>Group project</a>
        </li>
        <li>
            <a ui-sref="student.edit">
                <i class="material-icons">mode_edit</i>Edit profile</a>
        </li>
        <li>
            <a ng-click="$ctrl.logout()">
                <i class="material-icons">power_settings_new</i>Log out</a>
        </li>
    </ul>
    <div class="containerContent">
        <div ui-view></div>
    </div>
</div>
