<div class="headerTop">
  <h1>{{$ctrl.course.name}}</h1>
</div>

<div class="main">
  <div class="row">
    <div class="col s12 white">
      <div class="row tabPanel">
        <div class="col s12">
          <ul class="tabs">
            <li class="tab col s3">
              <a href="#lectures" class="active">Lectures</a>
            </li>
            <li class="tab col s3">
              <a href="#students">Students</a>
            </li>
            <li class="tab col s3">
              <a href="#teams">Teams</a>
            </li>
          </ul>
        </div>
        <div id="lectures" class="col s12">
          <lectures-row-list lectures="$ctrl.lectures"></lectures-row-list>
        </div>
        <div id="students" class="col s12">
          <div class="tabContent">
            <form ng-submit="$ctrl.addStudCourse()">
              <div class="input-field col s12 s12">
                <select multiple class="icons selectStudentsNew" ng-model="$ctrl.studNew.model">
                  <option value="" disabled selected>Choose students</option>
                  <option ng-repeat="option in $ctrl.studNew.availableOptions" value="{{option._id}}" data-icon="{{option.avatar}}" class="circle">{{option.firstName}}
                    {{option.lastName}}</option>
                </select>
                <label>Choose students for this course</label>
              </div>
              <div class="center-align">
                <button type="submit" class="waves-effect waves-light btn blueBtn">Add</button>
              </div>
            </form>
          </div>
          <div class="tabContent">
            <person-item ng-repeat="person in $ctrl.students" person="person"></person-item>
          </div>
        </div>
        <div id="teams" class="col s12">
          <admin-team-item ng-repeat="project in $ctrl.projects track by $index" project="project"></admin-team-item>
          <admin-project-form projectitem="$ctrl.project" create="$ctrl.create"></admin-project-form>
        </div>
      </div>
    </div>
  </div>
</div>
