<div class="row">
  <ul class="side-nav mainSideNav">
    <li>
      <div class="userView center-align adminView">
        <img class="" src="https://www.epam-group.ru/content/dam/epam/global/EPAM_logo.svg"/>
      </div>
    </li>
    <li>
      <a ui-sref="admin.home">
        <i class="material-icons">pageview</i>Main page</a>
    </li>
    <li>
      <ul class="collapsible collapsible-accordion">
        <li>
          <a class="collapsible-header waves-effect waves-teal">
            <i class="material-icons">business</i>Courses</a>
          <div class="collapsible-body">
            <ul>
              <li ng-repeat="course in $ctrl.courses">
                <a ui-sref="admin.course" ng-click="$ctrl.sendCourseInfo(course)">{{course.name}}</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </li>
    <li>
      <a ui-sref="admin.addUser">
        <i class="material-icons">add</i>Add user</a>
    </li>
    <li>
      <a ui-sref="admin.users">
        <i class="material-icons">toc</i>Users</a>
    </li>
    <li>
      <a ui-sref="admin.lectures">
        <i class="material-icons">work</i>Lectures</a>
    </li>
    <li>
      <a ng-click="$ctrl.logout()">
        <i class="material-icons">power_settings_new</i>Log out</a>
    </li>
  </ul>

  <div class="containerContent">
    <div ui-view></div>
  </div>
</div>
