<div class="headerTop">
  <h1>Welcome to admin panel!</h1>
</div>

<div class="main">
  <div class="row">
    <div class="col s12 m6">
      <div class="adminHomeCard card-panel white">
        <span>
          <h2 class="center-align">Create course</h2>
          <form ng-submit="$ctrl.saveCourse()">
            <div class="input-field">
              <input id="courseName" type="text" class="validate" ng-model="$ctrl.courseName">
              <label for="courseName">Course name</label>
            </div>
            <div class="input-field">
              <input id="startFrom" type="date" class="validate" ng-model="$ctrl.startFrom">
              <label for="startFrom" class="active">Start from</label>
            </div>
            <div class="center-align">
              <button type="submit" class="waves-effect waves-light btn-large blueBtn">Save</button>
            </div>
          </form>
        </span>
      </div>

      <div class="adminHomeCard card-panel white">
        <span>
          <h2 class="center-align">More Actions</h2>
          <div class="collection">
            <a ui-sref="admin.addUser" class="collection-item">Add user</a>
            <a ui-sref="admin.users" class="collection-item">
              <span class="new badge" data-badge-caption="users">{{$ctrl.userCount}}</span>List users</a>
            <a ui-sref="admin.lectures" class="collection-item">
              <span class="new badge" data-badge-caption="lectures">{{$ctrl.lectCount}}</span>List lectures</a>
          </div>
        </span>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="adminHomeCard card-panel white">
        <span>
          <h2 class="center-align">Courses</h2>
          <ul class="collection">
            <li class="collection-item avatar" ng-repeat="course in $ctrl.courses">
              <i class="material-icons circle">folder</i>
              <span class="title">{{course.name}}</span>
              <p><b>Start from:</b> {{course.startFrom}}</p>
              <button class="secondary-content buttonCollection" ng-click="$ctrl.deleteCourse(course._id)"><i class="material-icons red-text">delete</i></button>
            </li>
          </ul>
        </span>
      </div>
    </div>
  </div>
</div>
