<li ng-click="$ctrl.runEdit($ctrl.lecture)">
    <div class="collapsible-header">
        <div class="row">
            <div class="col s12 m6">
                <p class="date">
                    <i class="medium material-icons">today</i>{{$ctrl.lecture.lectureScheduledDate}}</p>
                <h2>{{$ctrl.lecture.name}}</h2>
            </div>

            <div class="col s12 m6 right-align lecturelinks">
                <a href="{{$ctrl.lecture.contentLecture}}">Link To Presentation</a>
                <a href="{{$ctrl.lecture.contentPractice}}">Link To Practice</a>
                <a href="{{$ctrl.lecture.contentHomework}}">Link To Homework</a>
            </div>
        </div>
    </div>
    <div class="collapsible-body">
        <div class="row">
            <div class="col s12 m6">
                <div class="lectureLine">
                    <p class="normalWeight">Teacher:</p>
                    <p>{{$ctrl.lecture.lectorId}}</p>
                </div>
                <div class="lectureLine">
                    <p class="normalWeight">Assistants:</p>
                    <p>{{$ctrl.lecture.assistants}}</p>
                </div>
            </div>

            <div class="col s12 m6 right-align lecturelinks">
                <div class="center-align describeLecture">
                    <p class="date">
                        <i class="medium material-icons">schedule</i>
                        <span class="normalWeight">Deadline:</span>{{$ctrl.lecture.homeworkDeadline}}</p>
                </div>
                <div class="center-align">
                    <a class="waves-effect waves-light btn" href="#feedbackLecture">Leave feedback</a>
                    <a class="waves-effect waves-light btn" href="#homeworkFeedback">Check HW feedback</a>
                </div>
            </div>
        </div>
    </div>
</li>
