<div class="headerTop">
  <h1>Add User</h1>
</div>

<div class="main white">
    <div class="row">
        <form novalidate class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">text_fields</i>
                    <input id="name" type="text" class="validate"
                           ng-model="$ctrl.user.firstName">
                    <label for="name">Name</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">text_fields</i>
                    <input id="surname" type="text" class="validate"
                           ng-model="$ctrl.user.lastName">
                    <label for="surname">Surname</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">mail_outline</i>
                    <input id="email" type="email" class="validate"
                           ng-model="$ctrl.user.email">
                    <label for="email">Email</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">text</i>
                    <input id="username" type="text" class="validate"
                           ng-model="$ctrl.user.username">
                    <label for="username">User name</label>
                </div>
                <!--<div class="input-field col s6">-->
                    <!--<i class="material-icons prefix">wc</i>-->
                        <!--<input ng-model="$ctrl.user.gender" class="with-gap"-->
                               <!--name="gender" type="radio" id="man" value="man" checked />-->
                        <!--<label for="man">man</label>-->

                        <!--<input ng-model="$ctrl.user.gender" class="with-gap"-->
                               <!--name="gender" type="radio" id="woman" value="woman" />-->
                        <!--<label for="woman">woman</label>-->
                    <!--<label class="active" for="woman">Gender</label>-->
                <!--</div>-->
            </div>
            <!--<div class="row">-->
                <!--<div class="input-field col s4">-->
                    <!--<i class="material-icons prefix">cake</i>-->
                    <!--<input id="age" type="number" class="validate"-->
                           <!--ng-model="$ctrl.user.age">-->
                    <!--<label for="age">Age</label>-->
                <!--</div>-->
                <!--<div class="input-field col s8">-->
                    <!--<i class="material-icons prefix">add_a_photo</i>-->
                    <!--<input id="avatar" type="text" class="validate"-->
                           <!--ng-model="$ctrl.user.img">-->
                    <!--<label for="avatar">Avatar</label>-->
                <!--</div>-->
            <!--</div>-->
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">school</i>
                    <select name="userRole" id="userRole" ng-model="$ctrl.user.userRole">
                        <option value="">choose the role</option>
                        <option value="student">student</option>
                        <option value="teacher">teacher</option>
                    </select>
                    <label for="userRole">User role</label>
                </div>
                <!--<div class="input-field col s6">-->
                    <!--<i class="material-icons prefix">vpn_key</i>-->
                    <!--<input id="courseid" type="text" class="validate"-->
                           <!--ng-model="$ctrl.user.courseId" value="58d370a9734d1d3c86d14b0f">-->
                    <!--<label for="courseid">courseId</label>-->
                <!--</div>-->
            </div>
            <!--<div class="row">-->
                <!--<div class="input-field col s12">-->
                    <!--<i class="material-icons prefix">description</i>-->
                    <!--<textarea id="about" class="materialize-textarea"-->
                              <!--ng-model="$ctrl.user.aboutMe"></textarea>-->
                    <!--<label for="about">About me</label>-->
                <!--</div>-->
            <!--</div>-->

            <div class="row center-align">
                <button class="btn waves-effect waves-light btn-large blueBtn" ng-click="$ctrl.addUser($ctrl.user)">add</button>
            </div>
        </form>
    </div>





</div>
