<div class="card cardLecture">
  <div class="card-image waves-effect waves-block waves-light">
    <div class="row dateLine">
      <div class="col s6">
        <p class="date">
          <i class="medium material-icons">today</i>{{$ctrl.lecture.lectureScheduledDate | date: "yyyy-MM-dd"}}</p>
      </div>
      <div class="col s6 right-align">
        <p class="date">
          <i class="medium material-icons">query_builder</i>{{$ctrl.lecture.lectureScheduledTime}}</p>
      </div>
    </div>
    <h3 class="center-align">{{$ctrl.lecture.name}}</h3>
    <div class="cardLectureTheme">
      <img ng-src="{{$ctrl.lecture.img}}" alt="" ng-if="$ctrl.lecture.img">
    </div>
    <div class="lectureLine">
      <p class="normalWeight">Teacher:</p>
      <p>{{$ctrl.lecture.lectorId}}</p>
    </div>
    <div class="lectureLine">
      <p class="normalWeight">Assistants:</p>
      <p>{{$ctrl.lecture.assistants}}</p>
    </div>

  </div>
  <div class="card-content">
    <span class="card-title activator grey-text text-darken-4">
      <i class="material-icons right dotes">more_vert</i>
    </span>
    <p>
      <a href="{{$ctrl.lecture.contentLecture}}" target="blank">Link To Presentation</a>
    </p>
  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">{{$ctrl.lecture.name}}
      <i class="material-icons right">close</i>
    </span>
    <div class="describeCard lecturelinksCard">
      <a href="{{$ctrl.lecture.contentLecture}}" target="blank">Link To Presentation</a>
      <a href="{{$ctrl.lecture.contentPractice}}" target="blank">Link To Practice</a>
      <a href="{{$ctrl.lecture.contentHomework}}" target="blank">Link To Homework</a>
    </div>
    <div class="describeCard">
      <div class="lectureLine">
        <p class="normalWeight">Teacher:</p>
        <p>{{$ctrl.lecture.lectorId}}</p>
      </div>
      <a href="mailto:test@mail.test">test@mail.test</a>
      <div class="lectureLine">
        <p class="normalWeight">Deadline:</p>
        <p>{{$ctrl.lecture.homeworkDeadline | date: "yyyy-MM-dd"}}</p>
      </div>
      <button class="waves-effect waves-light btn" ng-click="$ctrl.openPopUpClick($ctrl.lecture._id)">Leave feedback</button>
      <button class="waves-effect waves-light btn" href="#homeworkFeedback">Check HW feedback</button>
    </div>
  </div>
  <feedback-pop-up lecture="$ctrl.lecture"></feedback-pop-up>
</div>
