<div class="container">
    <div class="row">
        <div class="col-s-4"></div>
        <div class="col-s-4">
            <h5 class="indigo-text">Register new user</h5>
            <form ng-submit="reg.registerUser()">
                <div class="form-group">
                    <label>Username
                        <input class='validate' type="text" id="username" ng-model="reg.username" placeholder="Enter your username" required>
                    </label>
                </div>
                <div class="form-group">
                    <label>Password
                        <input class='validate' type="password" id="password" ng-model="reg.password" placeholder="Enter your password" required>
                    </label>
                </div>
                <div class="form-group">
                    <label>Name
                        <input type="text" id="firstName" ng-model="reg.firstName" placeholder="Name, e.g. John">
                    </label>
                </div>
                <div class="form-group">
                    <label>Surname
                        <input type="text" id="lastName" ng-model="reg.lastName" placeholder="Surname, e.g. Smith">
                    </label>
                </div>
                <div class="form-group">
                    <label>E-mail
                        <input class='validate' type="email" id="email" ng-model="reg.email" placeholder="email@example.com" required>
                    </label>
                </div>
                <div ng-if=" reg.regErrorMessage ">
                    <div class="card-panel red lighten-2">
                        <p><i class="material-icons">error_outline</i> Username is in use by someone else!</p>
                    </div>
                </div>

                <button type="submit" class='col s12 btn btn-large indigo'>Register now!</button>
                <br><br>
                <center>
                    <a ui-sref="login">Sign in</a>
                </center>
            </form>

        </div>

        <div class="col-s-4"></div>

        <div ui-view="student"></div>

    </div>
</div>