.collapsible{
  h2{
    display: inline-block;
    vertical-align: middle;
    margin: 0;
  }

  .lecturelinks a{
    padding: 0 10px;
  }

  .row{
    margin: 0;
    padding: 10px 0;
  }

  .describeLecture{
    margin-bottom: 10px;
  }

  .collapsible-header{
    p {
      display: inline-block;
    }
    i {
      float: none;
      display: inline-block;
    }
    .lecturelinks {
      &> a{
        display: inline-block;
      }
      .material-icons {
        margin: 0;
        vertical-align: middle;
      }
    }
    .lecturelinks a,
    .lecturelinks .material-icons{
      color: white;
    }

    &:hover .lecturelinks a,
    &:hover .lecturelinks .material-icons{
      color: #39c2d7;

      &:hover,
      &:hover .material-icons{
        color: black;
        text-decoration: none;
      }
    }
  }

  .collapsible-body{
    background-color: #fff;
  }

}
