.collapsible{
  h2{
    display: inline-block;
    vertical-align: middle;
    margin: 0;
  }

  .lecturelinks a{
    padding: 0 10px;
  }

  .row{
    margin: 0;
    padding: 10px 0;
  }

  .describeLecture{
    margin-bottom: 10px;
  }

  .collapsible-header i{
    float: none;
    display: inline-block;
  }

  .collapsible-body{
    background-color: #fff;
  }

}
