<ul class="collapsible lectureList" data-collapsible="accordion">
    <li ng-repeat="lecture in $ctrl.lectures">
        <div class="collapsible-header">
            <div class="row">
                <div class="col s12 m5">
                    <p class="date">
                        <i class="medium material-icons">today</i>
                        {{lecture.lectureScheduledDate | date: "yyyy-MM-dd"}}
                    </p>
                    <h2>{{lecture.name}}</h2>
                </div>

                <div class="col s12 m7 right-align lecturelinks">
                    <!--@todo hide the edit for students-->
                    <i class="material-icons" ng-click="$ctrl.runEdit(lecture)">mode_edit</i>
                    <a href="{{lecture.contentLecture}}">Link To Presentation</a>
                    <a href="{{lecture.contentPractice}}">Link To Practice</a>
                    <a href="{{lecture.contentHomework}}">Link To Homework</a>
                </div>
            </div>
        </div>
        <div class="collapsible-body">
            <div class="row">
                <div class="col s12 m6">
                    <div class="lectureLine">
                        <p class="normalWeight">Teacher:</p>
                        <p>{{lecture.lectorId}}</p>
                    </div>
                    <div class="lectureLine">
                        <p class="normalWeight">Assistants:</p>
                        <p>{{lecture.assistants}}</p>
                    </div>
                </div>

                <div class="col s12 m6 right-align lecturelinks">
                    <div class="center-align describeLecture">
                        <p class="date">
                            <i class="medium material-icons">schedule</i>
                            <span class="normalWeight">Homework deadline:</span>
                            {{lecture.homeworkDeadline | date: "yyyy-MM-dd"}}</p>
                    </div>
                    <div class="center-align">
                        <a class="waves-effect waves-light btn" href="#feedbackLecture">Leave feedback</a>
                        <a class="waves-effect waves-light btn" href="#homeworkFeedback">Check HW feedback</a>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>

